
<!-- default.ejs -->
<% include ../partial/head.ejs %>

   
         <% include ../partial/header.ejs %>
   

<body>
    <div id="body">
	 <% include ../partial/sidebar.ejs %>
        <%- body %>
    </div>    
</body>
<footer>
  <div id="footer">
        <% include ../partial/footer.ejs %>
   </div>
</footer>
</html>