
<!-- frontend.ejs -->
   <% include ../partial/frontend/head.ejs %>
<header>
   <div id="header">
   <% include ../partial/frontend/header.ejs %>
</header> 
<section> 
    <body>
    <div id="body">
 
        <%- body %>
    </div>    

<footer>
  <div id="footer">
   <% include ../partial/frontend/footer.ejs %>
 </div>
</footer>
</section> 
</body>   
</html>