
    <div class="footersection"> 
    <div id="footer" class="container">
        <div id="footer-wrapper" class="zozo-row row">
            <div id="footer-container" class="col-xs-12">
                <div class="row">
                                                
                        <div id="social-icons" class="col-sm-12">

    <ul class="zozo-social-icons-new soc-icon-transparent">

                        <li class="facebook"><a data-original-title="Facebook" target="_blank" href="http://www.facebook.com/thetravelwod/"><i class="fa fa-facebook" aria-hidden="true"></i>
</a></li>

<li class="twitter-new"><a data-original-title="Twitter" target="_blank" href="https://twitter.com/Travel_WOD"><i class="fa fa-twitter" aria-hidden="true"></i>
</a></li>

<li class="youTube"><a data-original-title="youTube" target="_blank" href="https://www.youtube.com/channel/UCeJ4LdRh62JfgkaW2OZs24g"><i class="fa fa-youtube" aria-hidden="true"></i>
</a></li>

<li class="google"><a data-original-title="google+" target="_blank" href="https://plus.google.com/u/0/103525151317029048837"><i class="fa fa-google-plus" aria-hidden="true"></i>

</a></li>

</ul>                      
                        </div><!-- #social-icons -->
                        <div id="copyright-text" class=" col-sm-12 ">
                        <p>&copy; 2017 thetravelwod.com</p>                 
                        </div><!-- #copyright-text -->
                    
                </div><!-- .row -->
            </div><!-- #footer-container -->
        </div><!-- #footer-wrapper -->
    </div><!-- #footer -->
</div>



