

<body class="page-header-fixed">
<style>
    .caps {
        text-transform: capitalize;
    }
    .pwd_change{
        cursor: pointer;
    }
</style>
    <div class="overlay"></div>
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s1">
        <h3><span class="pull-left">Chat</span><a href="javascript:void(0);" class="pull-right" id="closeRight"><i class="fa fa-times"></i></a></h3>
        <div class="slimscroll">
            <a href="javascript:void(0);" class="showRight2"><img src="../images/avatar2.png" alt=""><span>Sandra smith<small>Hi! How're you?</small></span></a>
            <a href="javascript:void(0);" class="showRight2"><img src="../images/avatar3.png" alt=""><span>Amily Lee<small>Hi! How're you?</small></span></a>
            <a href="javascript:void(0);" class="showRight2"><img src="../images/avatar4.png" alt=""><span>Christopher Palmer<small>Hi! How're you?</small></span></a>
            <a href="javascript:void(0);" class="showRight2"><img src="../images/avatar5.png" alt=""><span>Nick Doe<small>Hi! How're you?</small></span></a>
            <a href="javascript:void(0);" class="showRight2"><img src="../images/avatar2.png" alt=""><span>Sandra smith<small>Hi! How're you?</small></span></a>
            <a href="javascript:void(0);" class="showRight2"><img src="../images/avatar3.png" alt=""><span>Amily Lee<small>Hi! How're you?</small></span></a>
            <a href="javascript:void(0);" class="showRight2"><img src="../images/avatar4.png" alt=""><span>Christopher Palmer<small>Hi! How're you?</small></span></a>
            <a href="javascript:void(0);" class="showRight2"><img src="../images/avatar5.png" alt=""><span>Nick Doe<small>Hi! How're you?</small></span></a>
        </div>
    </nav>
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
        <h3><span class="pull-left">Sandra Smith</span> <a href="javascript:void(0);" class="pull-right" id="closeRight2"><i class="fa fa-angle-right"></i></a></h3>
        <div class="slimscroll chat">
            <div class="chat-item chat-item-left">
                <div class="chat-image">
                    <img src="../images/avatar2.png" alt="">
                </div>
                <div class="chat-message">
                    Hi There!
                </div>
            </div>
            <div class="chat-item chat-item-right">
                <div class="chat-message">
                    Hi! How are you?
                </div>
            </div>
            <div class="chat-item chat-item-left">
                <div class="chat-image">
                    <img src="../images/avatar2.png" alt="">
                </div>
                <div class="chat-message">
                    Fine! do you like my project?
                </div>
            </div>
            <div class="chat-item chat-item-right">
                <div class="chat-message">
                    Yes, It's clean and creative, good job!
                </div>
            </div>
            <div class="chat-item chat-item-left">
                <div class="chat-image">
                    <img src="../images/avatar2.png" alt="">
                </div>
                <div class="chat-message">
                    Thanks, I tried!
                </div>
            </div>
            <div class="chat-item chat-item-right">
                <div class="chat-message">
                    Good luck with your sales!
                </div>
            </div>
        </div>
        <div class="chat-write">
            <form class="form-horizontal" action="javascript:void(0);">
                <input type="text" class="form-control" placeholder="Say something">
            </form>
        </div>
    </nav>
    <div class="menu-wrap">
        <nav class="profile-menu">
            <div class="profile"><img src="../images/profile-menu-image.png" width="60" alt="David Green" /><span>David Green</span></div>
            <div class="profile-menu-list">
                <a href="#"><i class="fa fa-star"></i><span>Favorites</span></a>
                <a href="#"><i class="fa fa-bell"></i><span>Alerts</span></a>
                <a href="#"><i class="fa fa-envelope"></i><span>Messages</span></a>
                <a href="#"><i class="fa fa-comment"></i><span>Comments</span></a>
            </div>
        </nav>
        <button class="close-button" id="close-button">Close Menu</button>
    </div>
    <form class="search-form" action="#" method="GET">
        <div class="input-group">
            <input type="text" name="search" class="form-control search-input" placeholder="Search...">
            <span class="input-group-btn">
                    <button class="btn btn-default close-search waves-effect waves-button waves-classic" type="button"><i class="fa fa-times"></i></button>
                </span>
        </div>
        <!-- Input Group -->
    </form>
    <!-- Search Form -->
    <main class="page-content content-wrap">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="sidebar-pusher">
                    <a href="javascript:void(0);" class="waves-effect waves-button waves-classic push-sidebar">
                            <i class="fa fa-bars"></i>
                        </a>
                </div>
                <div class="logo-box">
                    <a href="/dashboard" class="logo-text"><span>Travel</span></a>
                </div>
                <!-- Logo Box -->
                <div class="search-button">
                    <a href="javascript:void(0);" class="waves-effect waves-button waves-classic show-search"><i class="fa fa-search"></i></a>
                </div>
                <div class="topmenu-outer">
                    <div class="top-menu">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="javascript:void(0);" class="waves-effect waves-button waves-classic sidebar-toggle"><i class="fa fa-bars"></i></a>
                            </li>
                          <!--  <li>
                                <a href="#cd-nav" class="waves-effect waves-button waves-classic cd-nav-trigger"><i class="fa fa-diamond"></i></a>
                            </li> -->
                            <li>
                                <a href="javascript:void(0);" class="waves-effect waves-button waves-classic toggle-fullscreen"><i class="fa fa-expand"></i></a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                         
                          <li class="dropdown">
                                <a href="#" class="dropdown-toggle waves-effect waves-button waves-classic belhid" data-toggle="dropdown"><i class="fa fa-bell"></i><span class="badge badge-success pull-right totalNot"></span></a>
                                <ul class="dropdown-menu title-caret dropdown-lg" role="menu">
                                   
                                    <li class="dropdown-menu-list slimscroll tasks">
                                        <ul class="list-unstyled showNot">
                                          


                                        </ul>
                                    </li>
                                    <li class="drop-all"><a href="#" class="text-center">All Notifications</a></li>
                                </ul>
                            </li>                             <li class="dropdown">
                                <a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">
                                
                                        <% if(user){ %>
                    <%   if(user.photo) { %>
<img src="./uploads/images/<%= user.photo %>" style="width:25px;height: 25px;" class="img-circle">
<% } else if(user.local.photo){ %>
<img src="./uploads/images/<%= user.local.photo %>" style="width:25px;height: 25px;" class="img-circle">
<% }else{ %>
 <img src="../images/admin/1.jpg" style="width:25px; height: 25px;" class="img-circle">
 <% } } %>
                                    </a>
                                <ul class="dropdown-menu dropdown-list" role="menu">
                                    <li role="presentation"><a href="/profile"><i class="fa fa-user"></i>Profile</a></li>
                                  
                                    <li role="presentation"><a href="/logout"><i class="fa fa-sign-out m-r-xs"></i>Log out</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/logout" class="log-out waves-effect waves-button waves-classic">
                                        <span><i class="fa fa-sign-out m-r-xs"></i>Log out</span>
                                    </a>
                            </li>
                          
                        </ul>
                        <!-- Nav -->
                    </div>
                    <!-- Top Menu -->
                </div>
            </div>
        </div>
      
 <% if(user){ %>
 <script type="text/javascript">


  window.status ='no';
    $(document).ready(function() {

   
    function isElementVisible(elem)
      {

    var $elem = $(elem);
    if($elem){
    var $window = $('.showNot');

    var docViewTop = $window.scrollTop();
    var docViewBottom = docViewTop + $window.height();

    var elemTop = $elem.offset().top;
    var elemBottom = elemTop + $elem.height();

    return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
}
}

   /* setInterval("ajaxd()",10000);*/

     $(document).on("click", ".belhid", function(event) {

 $('.totalNot').text('');
 

var lastId = $('.showNot').find('li:first').find('.lastId').val();
//console.log()
//alert(lastId);
if(lastId){
 var last = lastId
}else{
   var last = 'no';
}
//alert(last);
  $.ajax({
   type: "POST",
   url: "/notificationstatus?id="+last,
   success: function(msg){
    
       if($.trim(msg) != 'err'){
   // append(msg).prependTo(".showNot"); 
    $( ".showNot" ).prepend(msg);
   //  $('.showNot').appendTo(msg);
    
   }
}
 });

    });


  $(window).scroll(function(){
    if(window.status == 'no'){
    var e = $('.showNot li:last');
  if($('.showNot li').length){
    if (isElementVisible(e)) {
       
       window.status = 'yes';
         var lastId = $('.showNot').find('li:last').find('.lastId').val();
         if(lastId){
            //$('#loadingImg').show();

                $.ajax({
                  url: '/loadMoreNotifictn?id='+lastId,
                  type: 'POST',
              success: function(msg){
                
      if($.trim(msg)){
      
   // append(msg).prependTo(".showNot"); 
    $( ".showNot" ).append(msg);
   //  $('.showNot').appendTo(msg);
   }
     window.status = 'no';
}     
    });
            }

}
}
    
}
    })

    });

function ajaxd() { 

var lastId = $('.showNot').find('li:first').find('.lastId').val();
//console.log()
//alert(lastId);
if(lastId){
 var last = lastId
}else{
   var last = 'no';
}
//alert(last);
  $.ajax({
   type: "POST",
   url: "/notification?id="+last,
   success: function(msg){
    //alert(msg);
       if($.trim(msg) != 'err'){
   // append(msg).prependTo(".showNot"); 
    $( ".showNot" ).prepend(msg);
   //  $('.showNot').appendTo(msg);
    var getRes =  $('.totalNot').text();
var count = $( ".showNot" ).find( ".toShW:first" ).val();

if(count > 0 || count != 'not' ){
    if(getRes){
        //count = parseInt(getRes) + parseInt(count) 
    }
     $('.totalNot').text(count);
    

 }else{
    $('.totalNot').text('')
 }
   }
}
 });
}



</script>
 <% } %>