<style>
.mesg {
    color: #ff0000;
    display: block;
    margin-bottom: 10px;
}
.error{
  border:1px solid red;
}
@media (min-width: 320px) and (max-width: 480px){
  #main-wrapper {
    margin: 20px auto;
    padding: 10px;
}
@media (min-width: 481px) and (max-width: 767px){
  #main-wrapper {
    margin: 0px auto !important;
    padding: 10px;
}
}
</style>
<script src="../frontend/js/community.js" type="text/javascript"></script>
<input type="hidden" value="<%= user %>" id="logOrNot">
 <div class="page-inner">

 <div id="main-wrapper" class="container">
  <a class="btn btn-success btn-lg " href="javascript: history.go(-1)">←Back To previous page</a>
                <div class="m-t-md add-blogg">
           
                 <div class="col-md-10 comm_dash_sec col-md-offset-1">
                 <div class="panel panel-white mt50">


  <div class="panel-body">


<form action="/saveComnty" method="POST" id ='postMessage' class="form-horizontal">
 <span class="mesg"></span>   
    <% if(message > 0){ %>
  <span class="message"><%= message %></span>
<% } %>
<div class="form-group"> 
    <div class="col-sm-12">
      <input type="text" placeholder="Title" name="title" class="title form-control til">
    </div>
</div>
<div class="form-group">          
    <div class="col-sm-12">
      <textarea name="message" placeholder="Description" class="chatBox cht-text form-control des" rows="7"></textarea>
    </div>
</div>

<div class="form-group">   
       
    <div class="col-sm-12 showMe">    
    <input type="hidden" class="filenAme" name="fileVideo"> 
        
        <input type='file' class="file fileCheck" id="file" name="file" <% if(user){}else{%> disabled ="disabled"<% } %>/>
        
       <!--  <img id="blah" src="#" alt="" /> -->

        <div id="progress-wrp">
    <div class="progress"></div >
    <div class="percent">0%</div >

</div>


<div class="uploaded_image_video"></div>


    </div>
</div>               
             
           <!--  <img id="loadingImg" src="/img/loader.gif"> -->
            <div class="sec4 pull-right pr10">
              <button type="reset" class="btn btn-default  clear clearify">Clear</button>&nbsp;
              <!-- <button type="button" class="btn btn-default btn-c btn-p">Boost Post</button>&nbsp; -->
              <button type="submit" class="btn btn-success btn-c btn-p subB">Post</button>
            </div>
            
            <div class="clearfix"></div> 
           </form>
           </div></div>
           </div>
           </div>
       

<div class="col-md-10 col-md-offset-1">
<% if(message.length > 0){ %>
<div class="alert alert-success" role="alert">
<%- message %>
</div>


<% } %>
<% if(error.length > 0){ %>
<div class="alert alert-danger" role="alert">
<%- error %>
</div>
<% } %>